@model Entities.Book

@{
    ViewBag.Title = "Книга";
    ViewBag.IsAdmin = (string) TempData.Peek("login") == "admin";
    if (ViewBag.IsAdmin)
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    
}
<div class="card">
    <div class="card-header">
        <h5>@Model.BookTitle</h5>
    </div>
    <div class="card-body">
        Язык: @Model.LanguageBook
        <hr />
        Год написания: @Model.YearOfWriting
    <hr />
        Издательство: @ViewData["ph"]
    <hr />
        Автор: @ViewData["author"]
    <hr />
        Жанр: @ViewData["genre"]
    </div>
</div>


