@model List<Entities.BookIssuance>

@{
    ViewBag.Title = "Выдачи книг";
    ViewBag.IsAdmin = (string) TempData.Peek("login") == "admin";
    if (ViewBag.IsAdmin)
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    var books = (List<WebApplication.Models.BookCopyModel>) TempData.Peek("BookCopy");

}

<h4>Выдачи пользователя @TempData.Peek("FullName")</h4>
@if (ViewBag.IsAdmin)
{
<div class="card">
<form action="/BookIssuance/AddBookIssuance" method="post">
    <div class="form-row">
        <div class="form-group col-3">
            <label for="idBC">Идентификатор книжной выдачи</label>
            <input class="form-control" type="number" required="required" id="idBC" name="id">
        </div>
        <div class="form-group col-2">
            <label for="dateOfIssue">Дата выдачи</label>
            <input class="form-control" type="date" required="required" id="dateOfIssue" name="dateOfIssue">
        </div>
        <div class="form-group col-2">
            <label for="dateOfCompletion">Дата сдачи</label>
            <input class="form-control" type="date" required="required" id="dateOfCompletion" name="dateOfCompletion">
        </div>
        <div class="form-group col-3">
            <label for="bookCopy">Экземпляр книги</label>
            <select id="bookCopy" class="custom-select" name="bookCopyId">
@*                 @foreach (var bcm in books) *@
@*                 { *@
@*                     <option value="@bcm.Id">@bcm.BookTitle (#@bcm.Id, стелаж №@bcm.Rack, полка №@bcm.Shelf)</option> *@
@*                 } *@
            </select>
        </div>
        <div class="col-2 mx-auto my-auto">
            <button class="btn btn-success" type="submit">Добавить выдачу</button>
        </div>
    </div>
</form>
</div>
}
<div class="row row-cols-1 row-cols-md-4">
    @foreach (var r in Model)
    {
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@Html.ActionLink(@books.Find(b => b.Id == r.BookCopyID).BookTitle, "GetBook", "Book", new { bookId = @books.Find(b => b.Id == r.BookCopyID).BookId }, new { @class = "card-link" })</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@r.BookCopyID</h6>
                    <p class="card-text">Дата выдачи: @r.DateOfIssue</p>
                    <p class="card-text">Дата сдачи: @r.DateOfCompletion</p>
                    @Html.ActionLink("Штрафы", "GetFine", "Fine", new { bookIssuanceID = @r.BookIssuanceID }, new { @class = "card-link" })
                    @if (ViewBag.IsAdmin)
                    {
                    @Html.ActionLink("Удалить", "DeleteReader", "Reader", new { libraryCard = @r.LibraryCard, id = @r.BookIssuanceID }, new { @class = "card-link" })
                    }
                </div>
            </div>
        </div>
    }
</div>
